.App {
  text-align: center;
}

.bodyContainer {
  display: flex;
  flex-direction: row;
  background-color: black;
  color: azure;
  flex-wrap: wrap-reverse;
}

.leftContainer{
  padding-left: 6rem;
  padding-top: 4rem;
  padding-right: 6rem;
  flex-basis: 28vw;
	flex-grow: 0;
  flex-shrink: 0;
  max-height: 85vh;
  overflow: scroll;
 }

.rightContainer {
  padding-left: 6rem;
  padding-top: 4rem;
}

