.carImage {
    height: 13rem;
    width:25rem;
}

.carListItem {
    border: solid 3px  rgb(95, 130, 133);;
    margin-bottom: 5rem;
    width:30rem;
    height:18rem;
    border-radius: 5px;
    cursor: pointer;
}

.highlight {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 20px 0 #9ecaed;
}

.carListTitleText {
    padding-top:1rem;
    font-weight: bold;
    color: cadetblue;
}